*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: Montserrat, sans-serif;
  color: #8a817c;

  margin: 0;
}
a {
  text-decoration: none;
  color: #8a817c;
}
.navbar {
  background: #eee2df;
  color: #8a817c;
  padding-top: 1em;
  margin: 0;
  display: grid;
  grid-template-rows: 50% 50%;
  justify-items: center;
}

.profile_img {
  width: 7em;
  height: 7em;
  border-radius: 4em;
  display: grid;
}

.listnav {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  padding-top: 2em;
  padding-left: 0;
  color: #8a817c;
  grid-gap: 2em;
}

nav .listnav :hover {
  color: #c89f9c;
  cursor: pointer;
}

.startpage {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-auto-flow: column;
  margin-left: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.startpage img {
  width: 25em;
  height: 50em;
  display: grid;
  align-self: end;
  margin-right: 1em;
  margin-bottom: 1em;
}

.luise {
  margin-top: 0;
  font-size: 5em;
  font-weight: lighter;
  letter-spacing: 0.1em;
  margin-bottom: 0;
  line-height: 0.78em;
}
.goede {
  margin-top: 0;

  font-size: 5em;
  font-weight: lighter;
  letter-spacing: 0.1em;
}
.introtext {
  font-weight: lighter;
  hyphens: auto;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.image {
  grid: display;
  justify-self: end;
}

footer li {
  list-style: none;
  float: left;
  width: 4em;
}
.footer {
  background: #eee2df;
  display: grid;
  grid-template-rows: 50% 50%;
  justify-items: center;
  padding-top: 3em;
}
li :hover {
  cursor: pointer;
}
.intro {
  vertical-align: bottom;
}
